body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  margin-top: 10%;
  display: flex;
  background-color: #fef7f7;
}

.main-container {
  height: 20%;
}

.quote-card {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 67vh;
  max-height: 67vh;
  padding: 3px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  width: 100%;
  padding: 2rem;
  overflow-y: auto;
  border: none;
  background-color: #fef7f7;
}

.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  text-align: center;
  border-bottom: 1px solid black;
}

@media only screen and (max-width: 768px) {
  .quote {
    font-size: 40px;
    text-align: center;
  }
}

.author {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  text-align: flex-end;
  font-style: italic;
}

.buttons {
  display: flex;
  justify-content: center;
  bottom: 0;
}

.margin-button {
  margin-right: 10px;
}

.footer {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 20%;
  left: 0;
  bottom: 0;
  padding: 40px;
  background-color: #404245;
  width: 100%;
  height: max-content;
  color: white;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #404245;
  color: white;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  left: 0;
}

.social-icons {
  float: left;
  margin: 8px;
}

a {
  color: inherit;
  text-decoration: none;
}

.spinner {
  padding: 8px;
  margin-top: 30vh;
  display: flex;
  justify-content: center;
  text-align: center;
}